.centralBlock {
	width: 45%;
}

#button {
	background: #86B448;
	color: #ffffff;
	position: relative;
	float: right;
	display: inline;
	margin-right: 5%;
}

h2 {
	margin-left: 5%;
	font-weight: 400;
	display: inline;
}

.block {
	border: 1px solid #e6e6e6;
	padding: 5px;
	margin: 5px;
	display: inline-table;
	text-align: center;
}

.service {
	padding: 5px;
	margin: 5px;
	font-size: 12px;
	font-weight: 300;
	display: inline-block;
	cursor: pointer;
}
.fotoService:hover {
	background-color: #e6e6e6;
}
	
.fotoService {
	border: 1px solid #e6e6e6;
	padding: 25px;
	margin: 5px;
}

.fotoService > img{
	height: 71px;
	width: 71px;
}

.nameService {
	max-width: 12em;
}

