.centralBlock {
	width: 50%;
}

.head {
	display: flex;
}

#button {
	background: #86B448;
	color: #ffffff;
	margin-left: 20%;
}

h2 {
	margin-left: 5%;
	font-weight: 400;
}

.block {
	border: 1px solid #e6e6e6;
	padding: 1%;
	margin: 1%;
	display: inline-table;
}

.service {
	padding: 5px;
	margin: 5px;
	text-align: center;
	font-weight: 300;
	display: inline-block;
}

.fotoService {
	border: 1px solid #e6e6e6;
	padding: 15px;
	margin: 5px;
}

.nameService {
	width: 90px;
	font-size: 12px;
}

