.header
	padding 0px 15% 0px 25%
	background-color #86B448
	border 1px groove
	display flex
	margin-bottom 1%
	font-size 13px
	#logo
		padding 10px 5px 0px 0px
	#serviceSearch
		margin 20px 5px 0px 5px
		#iconStyle
			color #86B448
	.pt-input[type="search"]
		border-radius 0%
		background-color #5e8033
		color #ffffff
	.pt-input[type="search"]::-webkit-input-placeholder
		color #ffffff
	.icon
		margin 20px 5px 20px 5px
		img
			width 28px
			height 28px
	.user
		padding-top 20px
		display flex
		color #ffffff
		width 25%
		img
			width 27
			height 27px
			margin-right 5px
			margin-left 10%


#as::-moz-placeholder {
	color: #ffffff;
}