.leftBlock 
	width 360px
	margin-right 1%
	color #000000
	font-weight 300

nav > a
	display block
	text-align left
	border-bottom 1px solid #e6e6e6
	padding 10px 25px 10px 10px
	color inherit

nav > a > img
	margin 0px 10px -5px 0px
	height 24px
	width 24px

nav, .advGroup
	position relative
	float right

.advList
	font-size 12px
	display block
	border-bottom 1px solid #e6e6e6
	border-bottom 1px solid #e6e6e6
	padding 5% 0% 5% 0%

.advList > p
	color #8c8c8c
	display inline

.advList > a
	color #000000
	display inline
	position relative
	float right

#copyright > p
	color #8c8c8c
	font-size 10px
	margin-top 5%
	text-align left

#copyright > a
	display inline
	color #8c8c8c
	font-size 10px
	margin-right 5%

@media (max-width: 970px)
	.leftBlock
		width 240px
